@model IEnumerable<MovieApp.Models.MovieModel>

<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <h1 class="page-title">Топ 10 фильмов, Коваль</h1>

    @foreach (var movie in Model)
    {
        <div class="movie">
            <img src="@movie.PosterUrl" alt="Movie Poster">
            <div class="movie-info">
                <h3 class="movie-title">@movie.Title</h3>
                <p class="movie-details">
                    Director: @movie.Director<br />
                    Genre: @movie.Genre<br />
                    Release Year: @movie.ReleaseYear
                </p>
                <p class="movie-description">@movie.Description</p>
            </div>
        </div>
    }
</body>
</html>






